.circular-text {
  display: inline-block;
  position: relative;
  font-size: 1em;
  text-align: center;
  user-select: none;
}

.circular-text span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
}
