.glitch {
  position: relative;
  color: currentColor;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.glitch::before {
  left: 2px;
  text-shadow: -1px 0 var(--after-shadow, hsl(var(--accent)));
  animation: glitch-anim-1 var(--before-duration, 2s) infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -1px 0 var(--after-shadow, hsl(var(--accent) / 0.7));
  animation: glitch-anim-2 var(--after-duration, 3s) infinite linear alternate-reverse;
}

.glitch.enable-on-hover:hover::before,
.glitch.enable-on-hover:hover::after {
  opacity: 1;
}

@keyframes glitch-anim-1 {
  0% {
    clip-path: inset(20% 0 80% 0);
  }
  20% {
    clip-path: inset(60% 0 10% 0);
  }
  40% {
    clip-path: inset(40% 0 50% 0);
  }
  60% {
    clip-path: inset(80% 0 5% 0);
  }
  80% {
    clip-path: inset(10% 0 70% 0);
  }
  100% {
    clip-path: inset(30% 0 20% 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(10% 0 60% 0);
  }
  20% {
    clip-path: inset(30% 0 20% 0);
  }
  40% {
    clip-path: inset(70% 0 20% 0);
  }
  60% {
    clip-path: inset(20% 0 50% 0);
  }
  80% {
    clip-path: inset(50% 0 30% 0);
  }
  100% {
    clip-path: inset(0% 0 80% 0);
  }
}
